<ion-header-bar align-title="center" class="bar-stable bar-header">
  <button ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
    <span class="back-text"><span class="default-title hide">返回</span><span class="previous-title">订单</span></span>
  </button>
  <div class="title title-center header-item">注册协议</div>
</ion-header-bar>

<ion-content style="padding:20px;line-height:30px;">
  凡在papas平台发送代取信息或领取相关代取业务的的客户应履行自身应有的义务，若在进行代取业务的过程中或完成取代业务交易之后出现以下问题，我方将严格按照以下规则处理：
  <br>
  1 错件
  <br>
  1）因收件人在papas平台提供的信息有误（在该情况下代取人积分不会被扣除）：
  <br> a因收件人在papas平台提供的信息有误，致使代取人领错代取件件并送到收件人所要求的地址时，该笔交易视为有效，同时代取件将由我方配送团队向代取人回收并退回或直接转交给正确的收件人，中间所产生的代取费用和我方配送团队的费用由收件人支付。
  <br>
  b若错件在代取人配送期间发生损坏，所产生的赔偿金额由代取人支付。
  <br>
  2）因代取人疏忽，在领取物品时没有核实物品收件人信息而造成错件的（该情况下将按相关规则扣除代取人积分）：
  <br>
   a当次代取业务视作无效，收件人无需支付代取费用。
   <br> b错件将由我方配送团队回收并退回快递点或直接转交给正确的收件人，同时中间所产生的费用由代取人支付到我方指定账户。（ps：建议在推广期间为稳定用户基数，这笔费用由我方承担。）
   <br>2 丢件
   <br>
   1）在代取人配送物品期间，因不可抗力因素或 有可能使代取人的人生安全造成伤害情况的出现而使物品丢失时，代取人在我方平台的相关积分不会减少，收件人不需要支付代取费用，我方工作人员将视情况介入并进行调解，但我方对调解结果不负任何法律和经济责任。
   <br>
  2）在代取人配送物品期间，因代取人个人原因而造成物品丢失时（不包含本规则第二条第一小条规则的情况下），代取人负有赔偿责任并按相关规定扣除在我方平台的相关积分，我方工作人员将视情况介入，并向收件人提供相关信息为收件人提供相关帮助，但我方不负任何法律和经济责任。 3 配送时间过长
  <br> 1）代取人在我方平台领取了代取业务前，若认为有可能会受到不可抗力因素影响而使配送时间有所延长，代取人因及时和收件人联系并协商适当延长时间，否则则视为正常情况的代取业务，若代取人不能按时完成，我方将按相关规则扣除代取人相关积分。
  <br>
  2）若代取人在无正当理由的情况下无法按时完成相关代取业务，我方将按相关规定扣除代取人在我方平台上的相关积分。
  <br>
   4 若代取人取得物品后，蓄意将物品据为己有，则我方会扣除该代取人在我方平台的所有积分并禁止其在我方平台办理任何业务，同时将会视情况协助收件人追讨原件，如有必要将会通过相关法律途径追究该代取人的相关法律责任。
   <br>
    5 快递件破损
    <br>
     1）在收件人没有授权给代取人核实包裹里的产品是否完好无损的情况下，收件人收到快递件时无论包裹里面的产品是否损坏，该笔交易视为成功，收件人应支付相关的代取费用，代取人则按相关规则增加积分。
     <br>
  2）在收件人明确授权给代取人核实包裹里的产品是否完好无损的情况下： a若核实产品损坏代取人应及时和收件人联系并说明情况，若收件人表示签收或同意接收则按照正常代取业务流程进行，若收件人表示拒签则代取人拒签，收件人应付代取人一半的费用，代取人积分不变。 b若核实产品没有损坏则按照正常代取业务流程进行。 6收件人是否确认收件 1）收件人在收到物品并在我方平台确认收件后，该笔交易成功。
  <br> 2）若收件人在收到物品之后没有在我方平台确认收件但双方没有异议的情况下，我方将在收件人和代取人双方约定的时间过后的一个小时之后自动确认，并视该笔交易成功。
  <br>
  3）若收件人在2）的情况下（我方已经确认交易成功），我方将不负责任何有关物品状态异常的任何后果。 7 收件人没时间接收 若收件人在我方平台发送代取信息后，且代取人按时把物品送到指定地址但收件人无法接收的情况下，收件人要及时和代取人协商: 收件人委托他人代收时，当被委托人接收后该笔交易成功。 收件人委托代取人代为保管时，代取人应在我方平台申请交易成功或收件人应在我方平台确认接收，则该笔业务视作成功，在代取人保管物品期间，快递件如有任何问题与我方无关。
  <br>
   9 金钱纠纷
   <br> 若购买人与代购人发生金钱纠纷我方会把相关资金冻结，并给予一定期限让双方协商（建议正常期限为5天，但在具体操作时可根据双方要求作出调整，最长不能超过十天),期限过后如没有得出结果我方将视该笔业务成功，相关资金将按照正常情况分发到相关账户上。
  以上为我方papas（啪啪送）试行规则，如有需要我方会做出相应的调整，并且此规则最终解析权由我方papas（啪啪送）所有，

  <div class="row">
    <div class="col col-100">
      <a class="button button-block button-positive" href="#/logins/regist">同意</a>
    </div>
  </div>

</ion-content>
