<ion-view view-title="绑定" hide-tabs="true" class='bgGray'>
  <ion-content>
    <form action="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">学号</span>
          <input type="tel" placeholder="请输入学号" ng-model="xuehao">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" placeholder="请输入密码" ng-model="password">
        </label>
          <label class="item item-input">
            <span class="input-label">验证码</span>
            <input type="tel" placeholder="请输入验证码" ng-model="code">
          </label>
    <img ng-src="{{codeSrc}}" ng-click="refreshImg()"  style="position:absolute;z-index:9999999999;right:0;margin-top:-40px;height:27px;width:72px;">
      </div>

      <div class="row">
        <div class="col col-100">
        <a class="button button-block button-positive" ng-click="sub(xuehao,password,code)">绑定</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
