<ion-side-menus>
  <ion-side-menu-content>
    <!-- <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-tabs class="tabs-icon-top tabs-item-hide">
      <ion-tab title="啪啪送" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/logins/login">
        <ion-nav-view name="logins-login1"></ion-nav-view>
      </ion-tab>
      <ion-tab title="啪啪送" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/logins/forgetPSD">
        <ion-nav-view name="logins-login2"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>
</ion-side-menus>
