<ion-view view-title="详情"  hide-tabs="true"  style="background:rgb(244,244,244);">
  <ion-content>
     <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()">
    </ion-refresher>
<div class="orderDetail2">

  <div class="list card">
    <div class="item item-avatar" style="height:60px;min-height:60px;"><p style="font-size:20px;color:gray;transform:translateX(-50px);line-height:30px;margin:0;height:60px;">{{info.shopName}}</p></div><div class="item item-body">
      {{info.address}}   <a href="tel:{{info.phone}}">{{info.phone}}</a>
    </div>
  </div>

    <ion-list>
         <div style="padding:10px;background:rgb(255,255,255);color:rgb(100,100,100);text-align:center;font-weight:700;margin-top:5px;" ng-show="listdatas[0]">
            菜品介绍
        </div>
      <ion-item  class="item-thumbnail-left" ng-repeat="listdata in listdatas" >
        <img ng-src="{{listdata.imgUrl}}">
        <span>{{listdata.name}}</span>
        <p>价格: <span class="red">{{listdata.price}}</span></p>
        <span style="font-size:12px;">{{listdata.text}}</span>
      </ion-item>
    </ion-list>


    <div ng-show="artDatas[0]" style="padding:10px;background:rgb(255,255,255);color:rgb(100,100,100);text-align:center;font-weight:700;margin-top:5px;">
           优惠券
    </div>
    <div class="row coupon"  ng-repeat="artData in artDatas">
         <div class="col col-100">
             <div class="topInfo">
                 <p>{{artData.name}}</p>
                 <p>{{artData.startTime}}</p>
             </div>
            <div class="bottomInfo">
                <p>{{artData.require}}</p>
            </div>
         </div>
     </div>
</div>


  </ion-content>
</ion-view>
