<ion-view view-title="订单发布" hide-tabs="true">
  <ion-content>
    <form action="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">标题</span>
          <input type="text" placeholder="请输入标题" ng-model="info.title">
        </label>
        <label class="item item-input">
          <span class="input-label">联系人</span>
          <input type="text" placeholder="请输入联系人" ng-model="info.contacts">
        </label>
        <label class="item item-input">
          <span class="input-label">联系电话</span>
          <input type="tel" placeholder="请输入联系电话"  ng-model="info.phone">
        </label>
        <label class="item item-input">
          <span class="input-label">完成时间</span>
          <input type="datetime-local" ng-model="info.finishtime">
        </label>
        <label class="item item-input">
          <span class="input-label">佣金</span>
          <input type="tel" placeholder="请输入佣金"  ng-model="info.pay">
        </label>
        <label class="item item-input">
          <span class="input-label">内容</span>
          <input type="text" placeholder="请输入内容"  ng-model="info.remark">
        </label>
        <label class="item item-input">
          <span class="input-label">赏金</span>
          <input type="tel" placeholder="请输入赏金"  ng-model="info.reward">
        </label>
      </div>

      <div class="row">
        <div class="col col-100">
          <a class="button button-block button-positive" ng-click="sub()" ng-show="reback">确认发布</a>
          <a class="button button-block button-positive" style="background:gray" ng-show="!reback">确认发布</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
