<!-- <ion-header-bar align-title="center" class="bar-stable bar-header">
  <button ng-click="goBack()" class="button back-button buttons button-clear header-item"><i class="icon ion-ios-arrow-back"></i>
      <span class="back-text"><span class="default-title hide">返回</span><span class="previous-title">订单</span></span></button>
<div class="title title-center header-item">设置</div>
</ion-header-bar> -->
<ion-view view-title="设置" hide-tabs="true">

  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">修改昵称</span>
          <input type="text" placeholder="请输入昵称"  ng-model="info.nickname">
        </label>
        <ion-toggle ng-model="info.airplaneMode" >是否接受推送</ion-toggle>
        <div class="row">
          <div class="col col-100">
            <a class="button button-block button-positive" ng-click="sub()">确定</a>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
