<ion-view view-title="商家优惠" class="bgGray">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()">
    </ion-refresher>

    <ion-list>
      <div class="card" ng-show="!listdatas[0]" ng-cloak style="width:210px;text-align:center;position:absolute;top:50px;left:50%;margin: 0;transform:translateX(-50%);-webkit-transform:translateX(-50%)">
        <div class="item item-text-wrap" >
          暂时没有商家优惠喔~
        </div>
      </div>

      <ion-item ng-repeat="listdata in listdatas" class="item item-thumbnail-left" ng-click="goDetail2(listdata)">
        <img ng-src="{{listdata.imgUrl}}">
        <h2>{{listdata.shopName}}</h2>
      </ion-item>
    </ion-list>

    <div class="tab2c">

    </div>
  </ion-content>
</ion-view>
