<ion-view view-title="订单" ng-switch on="state">

  <ion-content ng-switch-default lazy-scroll>
    <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh(state)">
    </ion-refresher>
    <ul class="segment">
      <li class="{{state==0?'active':''}}" ng-click="changeState(0)">已发订单</li>
      <li class="{{state==1?'active':''}}" ng-click="changeState(1)">已接订单</li>
    </ul>

    <ion-list>
      <ion-item ng-repeat="item in listData" class="item item-thumbnail-left" ng-click="goDetail3(item)">
        <img ng-src="{{item.imgurl}}">
        <!-- <p>{{item.nickname}}</p> -->
        <p>标题:{{item.title}}
          <span style="float:right">{{item.status}}</span>
        </p>
        <p style="font-size:12px;">
          佣金:<span style="color:#f40;">${{item.pay}}</span> 赏金:<span style="color:#f40;">${{item.reward}}</span>
        </p>
        <p style="font-size:12px;">
          完成时间:{{item.finishtime}}
        </p>
        <p style="font-size:12px;">发布时间:{{item.createtime}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content ng-switch-when="1">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh(state)">
    </ion-refresher>
    <ul class="segment">
      <li class="{{state==0?'active':''}}" ng-click="changeState(0)">已发订单</li>
      <li class="{{state==1?'active':''}}" ng-click="changeState(1)">已接订单</li>
    </ul>

    <ion-list>
      <ion-item ng-repeat="item in listData2" class="item item-thumbnail-left" ng-click="goDetail32(item)">
        <img ng-src="{{item.imgurl}}">
        <p>{{item.nickname}}
        <span style="float:right;">{{item.status}}</span>
        </p>
        <span>标题:{{item.title}}</span>
        <p style="font-size:12px;">
          佣金: <span style="color:#f40;">{{item.pay}}</span> 赏金:<span style="color:#f40;">{{item.reward}}</span>
        </p>
        <p style="font-size:12px;">完成时间:{{item.finishtime}}</p>
        <p style="font-size:12px;">接单时间:{{item.createtime}}</p>
      </ion-item>
    </ion-list>
  </ion-contnet>
</ion-view>
