<ion-side-menus>
  <ion-side-menu-content edge-drag-threshold="true">

    <ion-nav-bar class="bar-stable" >
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <!-- 底部栏 -->
    <ion-tabs class="tabs-icon-top" ng-class="{'tabs-item-hide': $root.hideTabs}">

      <!-- Dashboard Tab -->
      <ion-tab title="啪啪送" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/tab/tab1">
        <ion-nav-view name="tab-tab1"></ion-nav-view>
      </ion-tab>

      <!-- Chats Tab -->
      <ion-tab title="商家优惠" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/tab2">
        <ion-nav-view name="tab-tab2"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="订单" icon-off="ion-ios-copy-outline" icon-on="ion-ios-copy" href="#/tab/tab3">
        <ion-nav-view name="tab-tab3"></ion-nav-view>
      </ion-tab>

      <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/tab4">
        <ion-nav-view name="tab-tab4"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>

  <!-- <ion-side-menu side="left" class="sideBar">
    <ion-content>

      <div class="topInfo item">
        <img ng-src="{{infoData.imgurl}}" class="avatar">
        <p style="position:absolute;bottom:0;">{{globalUserInfo.nickname}}</p>
      </div>

      <ion-list>

        <ion-list>
          <div ng-repeat="group in globalJWinfo">
            <ion-item class="item item-icon-left item-icon-right" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
              <i class="icon ion-ios-person-outline"></i>{{group.name}}
              <i class="icon ion-ios-arrow-down"></i>
            </ion-item>
            <ion-item class="item-accordion " ng-repeat="item in globalJWinfo[0].items" ng-show="isGroupShown(group)" ng-click="goto(item.title)">
              {{item.title}}
            </ion-item>
          </div>
        </ion-list>
        <ion-item href="#/tab/orderDetail">
          <i class="icon ion-ios-cart-outline"></i> &nbsp;
          <span>{{infoData.score}}分</span>
        </ion-item>
        <ion-item menu-close ng-click="goWithDrawCash()">
          <i class="icon ion-ios-cart-outline"></i> &nbsp;
          <span>提现</span>
        </ion-item>
        <ion-item href="#/tab/orderDetail">
          <i class="icon ion-ios-cart-outline"></i> &nbsp;
          <span>五星好评</span>
        </ion-item>
        <ion-item  ng-click="goCoupon()" menu-close>
          <i class="icon ion-ios-gear-outline"></i> &nbsp;
          <span>我的优惠券</span>
        </ion-item>
        <ion-item  ng-click="logOn()">
          <i class="icon ion-ios-gear-outline"></i> &nbsp;
          <span>注销</span>
        </ion-item>
        <ion-item menu-close ng-click="goSetting()">
          <i class="icon ion-ios-gear-outline"></i> &nbsp;
          <span>设置</span>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu> -->

</ion-side-menus>
