<ion-view view-title="提现"  class="bgGray">
  <ion-content>
    <form action="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">支付宝账号</span>
          <input type="text" placeholder="请输入标题" ng-model="info.username">
        </label>
        <label class="item item-input">
          <span class="input-label">提现金额</span>
          <input type="text" placeholder="请输入标题" ng-model="info.money">
        </label>
        <label class="item item-input">
          <span class="input-label">可提现金额</span>
          <div>{{info.mymoney}}</div>
        </label>
      <!-- <div style="color:gray;text-align:center;font-size:12px;margin-top:3px;">可提现金额:{{info.mymoney}}</div>
      </div> -->

      <div class="row">
        <div class="col col-100">
          <a class="button button-block button-positive" ng-click="sub()" >确认提现</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
